/* Font loading */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Variables */

:root {
  --primary-color: #ddd;
  --secondary-color: #5b5b5b;
  --half-color: #2e2e2e;
  --quarter-color: #101010;
  --background-color: #000;
  --background-color-trans: rgba(0, 0, 0, 0.5);
  --background-blur: blur(12px);

  --error-color: #7c1515;
  --success-color: #3d783d;
  --warning-color: #4b4b28;
  --info-color: #2c2c5b;

  --container-border-radius: 16px;
  --input-border-radius: 8px;

  --sans-serif: "Inter", sans-serif;
  --monospace: "Space Mono", monospace;
}

body {
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--primary-color);
  width: 100%;
  height: 100vh;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  opacity: 0;
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: var(--quarter-color) var(--background-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--background-color);
  border-radius: var(--container-border-radius);
}

::-webkit-scrollbar-thumb {
  background-color: var(--half-color);
  border-radius: var(--container-border-radius);
}

label {
  font-size: 14px;
}

/* Common styles */

.outlined {
  outline: 2px solid var(--quarter-color);
  outline-style: dashed;
}

.round-min {
  border-radius: var(--input-border-radius);
}

.round-max {
  border-radius: var(--container-border-radius);
}

.border-top {
  border: 1px solid var(--half-color);
  border-style: solid none none none;
}

.border-bottom {
  border: 1px solid var(--half-color);
  border-style: none none solid none;
}

.border-left {
  border: 1px solid var(--half-color);
  border-style: none none none solid;
}

.border-right {
  border: 1px solid var(--half-color);
  border-style: none solid none none;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-small {
  font-size: 8px;
}

.txt-medium {
  font-size: 14px;
}

.txt-large {
  font-size: 24px;
}

.txt-c-primary {
  color: var(--primary-color);
}

.txt-c-secondary {
  color: var(--secondary-color);
}

.txt-c-half {
  color: var(--half-color);
}

.txt-c-quarter {
  color: var(--quarter-color);
}

.pad-4 {
  padding: 4px;
}

.pad-8 {
  padding: 8px;
}

.pad-12 {
  padding: 12px;
}

.pad-16 {
  padding: 16px;
}

.mono {
  font-family: var(--monospace);
}

.hidden {
  display: none;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.25;
}

/* Style for layout */

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: auto;
  padding: 16px;
  width: auto;
  justify-content: space-between;
}

.container.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

@media screen and (max-aspect-ratio: 3/4), (max-width: 700px) {
  .container.row.wrap-mobile {
    flex-wrap: wrap;
  }
}

.w-100 {
  width: 100%;
}

.w-100.padless {
  width: 100% !important;
}

.h-100 {
  height: 100%;
}

.h-100.padless {
  height: 100% !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-start {
  justify-content: flex-start;
}

.j-end {
  justify-content: flex-end;
}

.a-center {
  align-items: center;
}

.a-start {
  align-items: flex-start;
}

.a-end {
  align-items: flex-end;
}

.a-between {
  align-items: space-between;
}

.a-around {
  align-items: space-around;
}

.a-stretch {
  align-items: stretch;
}

.container.w-100 {
  width: calc(100% - 32px);
}

.container.h-100 {
  height: calc(100% - 32px);
}

.overflow {
  overflow: visible;
}

.padless {
  padding: 0;
}

.gapless {
  gap: 0;
}

/* Style for the tab container */

.radios {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--half-color);
  border-style: none none solid none;
  padding: 16px;
  gap: 16px;
}

.tab-button {
  flex: 1;
  text-align: center;
}

.tab-button label {
  display: inline-block;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: var(--input-border-radius);
  color: var(--primary-color);
  font-size: 14px;
  width: calc(100% - 32px);
  text-align: center;
  box-shadow: inset 0 0 64px 0px var(--background-color-trans);
  outline: 0px solid var(--quarter-color);
  transition: outline 0.1s ease-in-out, background-color 0.1s ease-in-out,
    box-shadow 0.2s ease-in-out;
}

@media (hover: hover) {
  .tab-button label:hover {
    outline: 1px solid var(--half-color);
    background-color: var(--quarter-color);
    box-shadow: inset 0 0 64px 0px var(--quarter-color);
  }
}

.tab-button input[type="radio"] {
  display: none;
}

.tab-button input[type="radio"]:checked + label {
  background-color: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 0 16px -6px var(--primary-color);
}

.tab-view {
  overflow-y: auto;
  margin-top: -16px; /* Offset fresh from my ass */
}

.tab-view.unfocused {
  display: none;
}

.tab-con {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  width: 100%;
}

/* Styles for inputs */

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
input[type="tel"],
input[type="datetime"],
textarea,
select,
.iOS-input {
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--half-color);
  padding: 12px;
  border-radius: var(--input-border-radius);
  outline: 0px solid var(--quarter-color);
  font-family: var(--sans-serif);
  font-size: 14px;
  box-shadow: inset 0 8px 16px -16px var(--quarter-color);
  transition: outline 0.05s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"] {
  width: 100%;
  height: 100%;
  color: var(--primary-color);
  outline: 0px;
  border: none;
  font-family: var(--sans-serif);
  font-size: 14px;
  background: none;
}

.iOS-input {
  /* iOS Safari randomly overrites some input style for some reason so I have to do this for it */
  display: flex;
  padding: 0 10px;
  min-height: 41px;
  align-items: center;
  justify-content: center;
  cursor: text;
}

textarea {
  min-height: 41px;
}

@media (hover: hover) {
  input[type="text"]:hover,
  input[type="number"]:hover,
  input[type="email"]:hover,
  input[type="password"]:hover,
  input[type="search"]:hover,
  input[type="url"]:hover,
  input[type="tel"]:hover,
  input[type="datetime"]:hover,
  select:hover,
  .iOS-input:hover,
  textarea:hover {
    background-color: var(--background-color);
    outline: 2px solid var(--quarter-color);
    box-shadow: inset 0 0 16px 0px var(--quarter-color);
  }
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="datetime"]:focus,
select:focus,
.iOS-input:focus-within,
textarea:focus {
  outline: 2px solid var(--secondary-color);
  box-shadow: 0 0 16px -6px var(--primary-color),
    inset 0 0 4px 0px var(--quarter-color);
  background-color: var(--background-color);
  border: 1px solid var(--quarter-color);
}

textarea {
  resize: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Styles for buttons */

button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
  background-color: var(--quarter-color);
  color: var(--primary-color);
  padding: 12px 24px;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  border: 1px solid var(--half-color);
  font-family: var(--sans-serif);
  font-size: 14px;
  box-shadow: inset 0 0 64px 0px var(--quarter-color);
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out,
    box-shadow 0.1s ease-in-out;
}

@media (hover: hover) {
  button:hover,
  input[type="submit"]:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover {
    background-color: var(--half-color);
    color: var(--primary-color);
  }
}

button:active,
input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active {
  background-color: var(--background-color);
}

.icon-button {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  font-family: var(--sans-serif);
  font-size: 14px;
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.icon-button svg {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  color: var(--secondary-color);
  transition: color 0.05s ease-in-out;
}

.icon-button-text {
  margin-right: 16px;
}

@media (hover: hover) {
  .icon-button:hover svg {
    color: var(--primary-color);
  }
}

/* Styles for file inputs */

.file-input {
  padding: 12px 12px;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  border: none;
  font-family: var(--sans-serif);
  font-size: 14px;
  box-shadow: inset 0 8px 16px -16px var(--quarter-color);
  transition: outline 0.05s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  outline: 0px solid var(--quarter-color);
  border: 1px solid var(--half-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

@media (hover: hover) {
  .file-input:hover {
    outline: 2px solid var(--quarter-color);
    box-shadow: inset 0 0 16px 0px var(--quarter-color);
  }
}

.file-input:active {
  background-color: var(--half-color);
}

.file-input-name {
  display: block;
  white-space: nowrap;
}

.file-input-separator {
  display: block;
  white-space: nowrap;
  border-right: 1px solid var(--half-color);
  margin-right: 4px;
  margin-left: 4px;
  height: 100%;
}

.file-input-accept {
  color: var(--secondary-color);
  text-wrap: nowrap;
  font-size: 12px;
}

.file-input svg {
  width: 18px;
  height: 18px;
  min-width: 18px;
  min-height: 18px;
  color: var(--secondary-color);
}

.file-input input[type="file"] {
  width: 100%;
  font-family: var(--sans-serif);
  cursor: pointer;
  color: var(--secondary-color);
}

input[type="file"]::file-selector-button {
  display: none;
}

/* Styles for color inputs */

.color-input {
  padding: 12px 12px;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  font-family: var(--sans-serif);
  font-size: 14px;
  box-shadow: inset 0 8px 16px -16px var(--quarter-color);
  transition: outline 0.05s ease-in-out, box-shadow 0.1s ease-in-out,
    background-color 0.1s ease-in-out;
  outline: 0px solid var(--quarter-color);
  border: 1px solid var(--half-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  position: relative;
}

@media (hover: hover) {
  .color-input:hover {
    outline: 2px solid var(--quarter-color);
    box-shadow: inset 0 0 16px 0px var(--quarter-color);
  }
}

.color-input:active {
  background-color: var(--half-color);
}

.color-input-name {
  display: block;
  white-space: nowrap;
  padding-right: 16px;
  border-right: 1px solid var(--half-color);
}

.color-input-color {
  display: block;
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  border-radius: 50%;
  border: 2px solid var(--background-color);
  outline: 1px solid var(--half-color);
}

.color-input-value {
  width: 100%;
  font-family: var(--sans-serif);
  cursor: pointer;
  color: var(--secondary-color);
}

.color-input input[type="color"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}

/* Styles for range inputs (I hate range inputs so much) */

.range-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 21px;
  padding: 12px;
  border-radius: var(--container-border-radius);
  border: 1px solid var(--quarter-color);
}

.range-input {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  font-family: var(--sans-serif);
  height: 16px;
  border: 1px solid var(--half-color);
  margin: 12px 12px 12px 0;
  box-shadow: inset 0 2px 4px -2px var(--quarter-color);
  width: calc(100% - 32px);
}

.range-input-value {
  display: block;
  text-align: center;
  width: 10%;
  min-width: 60px;
}

.range-input-color {
  background-color: var(--secondary-color);
  height: 8px;
  z-index: 0;
  border-radius: 1px;
  position: absolute; /* Positioned relative to .range-input */
  top: calc(50% - 4px);
  left: 4px;
  border-radius: 3px;
  transition: background-color 0.1s ease-in-out;
}

@media (hover: hover) {
  .range-input:hover .range-input-color {
    background-color: var(--primary-color);
  }
}

.range-input:active .range-input-color {
  background-color: var(--primary-color);
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 36px;
  outline: none;
  background: none;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  /* For some random reason, if you try combining these with
  input[type="range"]::-webkit-slider-thumb,input[type="range"]::-moz-range-thumb {
  it just doesn't work on Microsoft Edge
  I hate Chromium so much you have no idea
  */
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  background: var(--primary-color);
  margin: 12px 0;
  cursor: pointer;
  border-radius: var(--input-border-radius);
  outline: 4px solid var(--background-color);
  border: none;
  z-index: 1;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 12px 0;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: var(--input-border-radius);
  outline: 4px solid var(--background-color);
  border: none;
  z-index: 1;
}

/* Styles for checkbox inputs */

input[type="checkbox"] {
  display: none;
}

.checkbox-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  border-radius: var(--container-border-radius);
  user-select: none;
  width: fit-content;
  padding: 8px;
  transition: background-color 0.05s ease-in-out;
}

@media (hover: hover) {
  .checkbox-container:hover {
    background-color: var(--quarter-color);
  }
}

.checkbox-name,
.radio-name {
  display: block;
  white-space: nowrap;
  padding-right: 8px;
  cursor: pointer;
}

.checkbox {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: var(--input-border-radius);
  width: 24px;
  height: 24px;
  border: 1px solid var(--half-color);
  box-shadow: inset 0 2px 8px -2px var(--quarter-color);
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.checkbox svg {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  transition: stroke-width 0.1s ease;
  stroke-width: 0px;
}

.checkbox.icon-checkbox.checked svg {
  stroke-width: 2px;
}

.checkbox.checked svg {
  stroke-width: 2.5px;
}

.checkbox.icon-checkbox svg {
  margin-top: 0px;
}

.checkbox:active {
  background-color: var(--half-color);
}

.checkbox.checked {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 8px 0 var(--quarter-color);
}

/* Styles for radio inputs */

input[type="radio"] {
  display: none;
}

.radio-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  cursor: pointer;
  border-radius: var(--container-border-radius);
  user-select: none;
  width: fit-content;
  padding: 8px;
  transition: background-color 0.05s ease-in-out;
}

@media (hover: hover) {
  .radio-container:hover {
    background-color: var(--quarter-color);
  }
}

.radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid var(--half-color);
  box-shadow: inset 0 2px 8px -2px var(--quarter-color);
  transition: background-color 0.05s ease-in-out, color 0.05s ease-in-out;
}

.radio div {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: var(--background-color);
  transition: width 0.1s ease, height 0.1s ease;
}

@media (hover: hover) {
  .radio:hover {
    background-color: var(--quarter-color);
    outline: 1px solid var(--half-color);
  }
}

.radio:active {
  background-color: var(--half-color);
}

.radio.checked {
  background-color: var(--primary-color);
  color: var(--background-color);
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 8px 0 var(--quarter-color);
}

.radio.checked div {
  width: 10px;
  height: 10px;
}

/* Dropdown styles */

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20stroke%3D%22%235b5b5b%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20class%3D%22lucide%20lucide-chevron-down%22%3E%3Cpath%20d%3D%22m6%209%206%206%206-6%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  cursor: pointer;
}

/* Hr styles */

hr {
  border: 1px solid var(--half-color);
  border-style: solid none none none;
  margin: 16px 0;
}

/* Collapsible styles */

.collapsible {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  width: 100%;
  opacity: 1;
}

.collapsible.collapsed {
  display: none;
}

.collapsible-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  gap: 16px;
  outline: 0px solid var(--half-color);
  box-shadow: none;
  border-radius: var(--input-border-radius);
  transition: background-color 0.1s ease-in-out;
}

@media (hover: hover) {
  .collapsible-header:hover {
    background-color: var(--quarter-color);
    outline: 1px solid var(--half-color);
    box-shadow: inset 0 0 64px 0px var(--quarter-color);
  }
}

.collapsible-header .collapsible-label {
  text-wrap: nowrap;
}

.collapsible-header svg {
  transition: transform 0.1s ease-in-out;
}

.collapsible-header.collapsed svg {
  transform: rotate(-90deg);
}

.collapsible-header hr {
  margin: 0;
  border: 1px solid var(--half-color);
  border-style: solid none none none;
  width: 100%;
}

/* Toast styles */

#toast-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px;
  width: calc(100% - 24px);
  pointer-events: none;
}

.toast {
  display: flex;
  width: calc(100% - 24px);
  border-radius: var(--input-border-radius);
  background-color: var(--background-color-trans);
  backdrop-filter: var(--background-blur);
  outline: 1px solid var(--half-color);
  padding: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.toast.error {
  outline: 1px solid var(--error-color);
}

.toast.success {
  outline: 1px solid var(--success-color);
}

.toast.warning {
  outline: 1px solid var(--warning-color);
}

.toast.info {
  outline: 1px solid var(--info-color);
}

.toast svg {
  width: 16px;
  height: 16px;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@media screen and (max-aspect-ratio: 9/16), (max-width: 700px) {
  .icon-button {
    flex-direction: column;
    width: 100%;
  }

  .icon-button svg {
    margin-right: 0;
  }

  .icon-button-text {
    margin-right: 0px;
    margin-left: 0px;
  }

  .range-container {
    flex-direction: column;
    gap: 12px;
  }

  .range-input {
    margin: 12px 0;
  }

  .range-input-value {
    width: 10%;
  }

  input[type="range"]::-moz-range-thumb {
    width: 36px !important;
    height: 36px !important;
  }
  input[type="range"]::-moz-slider-thumb {
    width: 36px !important;
    height: 36px !important;
  }
}
