<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../style/module.css" />

    <title>Wisp Module</title>
  </head>
  <body class="content-center">
    <h1>Welcome to the Wisp Module Kit</h1>
    <p>
      Edit me to be whatever you want. for more info check out the
      <a href="https://github.com/ethanhazel/wisp">documentation</a>
    </p>
  </body>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="../../scripts/module.js"></script>
  <script src="script.js"></script>
</html>
