<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../../style/module.css" />

    <link rel="stylesheet" href="style.css" />
    <!-- Can be removed if no styling is needed -->

    <title>Wisp Module</title>
  </head>
  <body ontouchstart="">
    <!-- ontouchstart needed for mobile -->
    <div class="container j-center a-center w-100 h-100">
      <h1>Welcome to the Wisp Module Kit</h1>
      <p>
        Edit me to be whatever you want. for more info check out the
        <a href="https://www.wisp.tools/docs">documentation</a>
      </p>
    </div>
  </body>
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="../../scripts/module.js"></script>
  <script src="script.js"></script>
</html>
